<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fbhelp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>

  <body>
  <script type="text/javascript">
	atOptions = {
		'key' : '7b96f5d76282e9ea6ad2641f6caca098',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/7b96f5d76282e9ea6ad2641f6caca098/invoke.js"></script>
      <main class="container mx-auto mt-20 px-6 flex justify-center flex-col md:flex-row gap-8">
        <%= yield %>
      </main>

      <script type='text/javascript' src='//pl25934523.effectiveratecpm.com/17/5c/04/175c047d341cb7ab6d0b98b060278d3a.js'></script>
      <script type='text/javascript' src='//pl25934558.effectiveratecpm.com/01/5e/6c/015e6c6320a53b4c4980974b7722d8d5.js'></script>
  </body>
</html>
